[user]
    name = "miiton"
    email = "vo.gu.ba.miiton@gmail.com"
[core]
    excludesfile = $HOME/.gitignore_global
	editor = nvim
[diff]
    tool = nvim
[difftool]
    prompt = false
[difftool "nvim"]
    cmd = nvim -f -d \"$LOCAL\" \"$REMOTE\"
[merge]
    ff = false
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
    trustExitCode = true
[color]
    ui = auto
[alias]
    s = status --short --branch
    l = log -n 15 --date=format:'%Y-%m-%d %H:%M' --graph --all --pretty='%x09%ad %<(7)%C(magenta)%h%C(reset) %C(yellow)%cn%C(reset) %s %Cred%d%>(20)%C(reset)'
[push]
    default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.commit_template
