[user]
    name = "miiton"
    email = "vo.gu.ba.miiton@gmail.com"
[core]
    excludesfile = /Users/t_minami/.gitignore_global
    editor = /usr/bin/vim
[diff]
    tool = mvim
[merge]
    ff = false
    tool = mvim
[difftool "mvim"]
    cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
[mergetool "mvim"]
    cmd = mvim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
    trustExitCode = true
[color]
    ui = auto
[alias]
    s = status --short --branch
    l = log --date=iso --graph --all --pretty='%x09%<(18,trunc)%ad %<(7)%C(cyan)%h%Creset %C(yellow)%<(17,trunc)%cn%Creset %<(50,trunc)%s %Cred%d%>(20)%C(reset) '
[push]
    default = simple
