body {
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(0,0,0,.87);
}

pre, code {
  font: 0.9rem 'Cica';
}

ul li, ol li {
  margin-top: 0px;
  margin-bottom: 0px;
}

li > ul {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

h1 {
  background: #eee;
  color: black;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 4px;
}

h2:before {
  content: '\f1dd';
  font-family: 'Cica';
  font-size: 3rem;
}

h3 {
  display: flex;
  align-items: center;
}
h3:before {
  content: '\f04d';
  font-family: 'Cica';
  font-size: 1.5rem;
  margin-right: 4px;
}

h4:before {
  content: '\f111';
  font-family: 'Cica';
  font-size: 1rem;
  margin-right: 4px;
}

.mermaid {
  max-width: 100%;
}

